# Dependencies
node_modules/
__pycache__/
venv/
env/

# Environment variables
.env
.env.local

data/
   data/vector_store/
   *.faiss
   *.pkl

# Build output
dist/
build/

# Database files
*.db
*.sqlite
chroma_db/

# OS files
.DS_Store