# fly.toml app configuration file generated for knowledgeforge on 2026-01-22T15:15:48Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'knowledgeforge'
primary_region = 'ams'

[build]

[processes]
app = "uvicorn app.main:app --host 0.0.0.0 --port 8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1



  